__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

# User directories and files
/data/CelebA*
*.csv
wandb/*
*.txt
*.json
EDA/results/*
EDA/VGGFace2/results/*
CLIP_outputs/*
data/captions/*
wandb/*